.nav_main {
    position: fixed;
    left: 0;
    top: 5rem;
    width: 100%;
    height: 3.833rem;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    transition: all .2s;
    transform: translateZ(0);
    background-color: #fff;
    overflow: auto;

}

.nav_list {
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;
    background-color: #fff;

}

.nav_item {
    height: 100%;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 1.16rem;
    color: #71777c;
    padding: 0 1rem;
    position: relative;
}

.nav_item:hover a {
    color: #1e80ff;

}

.nav-item:first-child {
    padding: 0 1rem 0 0;
}

.visiable {
    position: fixed;
    left: 0;
    top: 5rem;
    width: 100%;
    height: 3.833rem;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    transition: all .2s;
    transform: translate3d(0, -5rem, 0);
    background-color: #fff;
    overflow: auto;
}

.nav_radio {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}

.nav_radio:checked~a {
    color: #1e80ff;
}