.menu_box {
    position: relative;
}

.check_box {
    opacity: 0;
}

.menu {
    position: absolute;
    width: 200px;
    height: 1000vh;
    margin: -100px 0 0 -50px;
    /* padding: 50px; */
    padding-top: 175px;
    right: -200px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    overflow: auto;

    transform-origin: 0% 0%;
    transform: none;


    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: -1;
}

.check_box:checked~ul {
    transform: none;
    transform: translate(-100%, 0);
    z-index: 99;
}


.menu li {
    /* height: 3rem; */
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.menu li a {
    display: block;
}

.nav_radio {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.nav_radio:checked+a {
    background: rgb(178, 34, 34);
}